@font-face {
  font-family: 'CS';
  src: url('/type/Century_Schoolbook_Reg_.woff');
  font-style: normal;
}

@font-face {
  font-family: 'CS';
  src: url('/type/Century_Schoolbook_Ita_.woff');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
  @media (max-width: 670px) {
    font-size: 0.4rem;
  }
}

body {
  font-family: 'CS';
  font-size: 3.2rem;
  line-height: 1.1;
  background: white;
  overflow-x: hidden;
}

.images_count {
  position: absolute;
  top: 1em;
  left: .25em;
  right: .25em;
  width: calc(100% - .5em);
  display: flex;
  justify-content: space-between;
  color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  display: none;
}

.intro {
  position: absolute;
  top: 0;
  left: .25em;
  right: .25em;
  width: calc(100% - .5em);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  mix-blend-mode: difference;
  z-index: 1;
  @media (max-width: 670px) {
    top: .35em;
    left: .5em;
    right: .5em;
    width: calc(100% - 1em);
  }
  a {
    color: white;
    mix-blend-mode: difference;
    text-decoration: none;
  }
}

.footer {
  margin-top: 4.4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: .5em;
  p {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-indent: 0 !important;
  }
}

footer {
  position: absolute;
  bottom: .5em;
  left: .5em;
  right: .5em;
  width: calc(100% - 1em);
  color: white;
  text-align: center;
  mix-blend-mode: difference;
  z-index: 1;
  div {
    text-align: center;
  }
}

h1, h2 {
  font-weight: normal;
  font-size: 3.2rem;
  span {
    text-transform: uppercase;
  }
}

h1 {
  display: inline-block;
}

.text {
  width: 100%;
  position: fixed;
  bottom: -100%;
  left: 0;
  max-height: 100vh;
  background: white;
  color: black;
  z-index: 10;
  overflow-y: auto;
  pointer-events: none;
  padding: .5em;
  transition: bottom 0.5s ease-in-out;

  &_close {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    &:hover {
      cursor: pointer;
      color: #ccc;
    }
  }

  &.show {
    bottom: 0;
    pointer-events: all;
  }

  h2 {
    text-align: center;
    margin-bottom: 1.1em;
  }
  p {
    &:last-of-type {
      text-align: center;
    }
    & + p {
      text-indent: 4.4em;
    }
  }
}

.gallery {
  width: 100%;
  height: calc(100vh - .5em);
  position: relative;
  display: flex;
  top: .25em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .images {
    position: absolute;
    top: -.25em;
    height: calc(95vh + .5em);
    width: 100%;

    @media (max-width: 670px) {
      width: 95%;
      top: 0;
      height: 60vh;
    }

    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 1s ease-in-out, mix-blend-mode .5s ease-in-out;
      opacity: 0;
      mix-blend-mode: difference;
      cursor: pointer;

      &.visible {
        opacity: 1;
        mix-blend-mode: normal;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}
